<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lux/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/Kurumi.ico')}}" >
    <link rel="stylesheet" href="{{ url_for('static',filename='css/EstiloWeb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/EstiloBaseTemp.css') }}">
    <title>Restaurante</title>
</head>
<header>
    <nav>
        <ul>
            <li> <a href="http://localhost:5000/ingresar"> <span class="Inic "> <i class="icon icon-home3"> </i> </span> Inicio </a> </li>
            <li> <a href=""> <span class="Categ"> <i class="icon icon-price-tag"> </i> </span> Categoria </a>
                <ul>
                    <li> <a href="http://www.google.com"> 1. Google </a> </li>
                    <li> <a href=""> 2. Wikipedia </a> </li>
                    <ul>
                        <li> <a href="http://www.google.com"> 1. Google </a> </li>
                        <li> <a href=""> 2. Wikipedia </a> </li>
                        <li> <a href=""> 3. Facebook </a> </li>
                        <li> <a href=""> 4. Linkedin </a> </li>
                    </ul>
                    <li> <a href=""> 3. Facebook </a> </li>
                    <li> <a href=""> 4. Linkedin </a> </li>
                </ul>
            </li>
            <li> <a href=""> <span class="Servic"> <i class="icon icon-briefcase"> </i> </span> Servicios </a> </li>
            <li> <a href=""> <span class="Info"> <i class="icon icon-list"> </i> </span> Acerca de </a>
            <li> <a href=""> <span class="Contac"> <i class="icon icon-phone"> </i> </span> Contacto </a>
            </li>
        </ul>
    </nav>
</header>
<body>
    {% block content %} {% endblock %}
</body>
</html>





<!--html>
<header>
    <nav>
        <ul>
            <li> <a href=""> <span class="Inic "> <i class="icon icon-home3"> </i> </span> Inicio </a> </li>
            <li> <a href=""> <span class="Categ"> <i class="icon icon-price-tag"> </i> </span> Categoria </a>
                <ul>
                    <li> <a href="http://www.google.com"> 1. Google </a> </li>
                    <li> <a href=""> 2. Wikipedia </a> </li>
                    <ul>
                        <li> <a href="http://www.google.com"> 1. Google </a> </li>
                        <li> <a href=""> 2. Wikipedia </a> </li>
                        <li> <a href=""> 3. Facebook </a> </li>
                        <li> <a href=""> 4. Linkedin </a> </li>
                    </ul>
                    <li> <a href=""> 3. Facebook </a> </li>
                    <li> <a href=""> 4. Linkedin </a> </li>
                </ul>
            </li>
            <li> <a href=""> <span class="Servic"> <i class="icon icon-briefcase"> </i> </span> Servicios </a> </li>
            <li> <a href=""> <span class="Info"> <i class="icon icon-list"> </i> </span> Acerca de </a>
            <li> <a href=""> <span class="Contac"> <i class="icon icon-phone"> </i> </span> Contacto </a>
            </li>
        </ul>
    </nav>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/EstiloWeb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/EstiloBaseTemp.css') }}">
</header>

<body>
    
</body>

</html-->
