{% extends "base_template.html" %}
{% block content %}

<div id="listarpedidos" style="padding:0;">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7 d-flex">
                <div class="justify-content-center align-self-center w-100">
                    <h1 class="animated fadeInDown" style="text-align: center;"><span class="material-icons" style="font-size: 35px;">
                        </span> Pedidos Vigentes</h1>  
                    {% if pedidos %}
                    <ul class="list-group-flush listapedidos animated fadeInDown" style="overflow-y: scroll; display: block;"> 
                        {% for pedido in pedidos %}
                                <a href="{{url_for('Cobrar',pedido = pedido.NumPedido)}}" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between" style="height: 33px;">
                                        <h5 class="mb-1"> Pedido {{ pedido.NumPedido }} </h5>
                                        <h5 class="text-muted"> Mesa {{ pedido.Mesa }}</h5>
                                    </div>
                                    {% for item in pedido.item_pedido %}
                                            <p class="mb-1"> {{ item.item_producto.Nombre }}</p>
                                    {%  endfor %}
                                    <small class="text-muted">Mozo {{ pedido.DniMozo }}</small>
                                </a>
                                {% endfor %}
                    </ul>
                    {% else %}
                            <h1 style="text-align: center; font-size: 30px;">No se han encontrado pedidos pendientes</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
