{% extends "base_template.html" %}
{% block content %}
<div style="width: 70%; margin: auto;">
    <h1 style="text-align: center; padding: 2rem;">
        Pedidos Pendientes
    </h1>
    <ul class="list-group-flush" style="overflow-y: scroll; display: block; height: 500px; max-height: 700px;">
        {% if pedidos %}
        {% for pedido in pedidos %}
        <div style="padding: 1rem; background-color: cornsilk;">
            <li style="width: 90%; margin: auto;">
                <label> N° Pedido: {{pedido.NumPedido}} </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label> Mesa N°: {{pedido.Mesa}} </label>
                <br>
                <label> Observaciones: &nbsp;{{pedido.Observacion}} </label>
                <div style="padding: 1rem; background-color: rgba(240, 230, 140, 0.523);">
                    <label for=""> Nombre --> Estado </label>
                    <br>
                    {% for item in pedido.item_pedido %}
                        <!-- {% if item.NumPedido == pedido.NumPedido %} -->
                        <a href="{{ url_for('Cocinero',numpedido = item.NumItem)}}"> {{ item.item_producto.Nombre }} --> {{ item.Estado }}</a>
                        <br>
                        <!-- {% endif %} -->
                    {%  endfor %}
                </div>
            </li>
        </div>
        <br>
        {%  endfor %}

        {% else %}
        <li class="list-group-item" style="height: 150px; min-height: 100px; max-height: 200px;">
            <h1 style="text-align: center; font-size: 2rem;">No se han encontrado pedidos pendientes</h1>
        </li>
        {% endif %}
    </ul>
    <br>
    <br>
    <br>
</div>
{% endblock %}
